<h3>Milestone</h3>

<p>Milestone: <%= @milestone.title %></p>
<p>Date: <%= @milestone.date %></p>
<p>Description: <%= @milestone.description %></p>

<!-- Add Images -->

<%= form_tag "/kids/#{@kid.id}/milestones/#{@milestone.id}", method: :delete do %>
  <input class="btn btn-default" type="submit" value="Delete Milestone">
<% end %>