<h1><center>baby steps</center></h1>
<br>
  <img src="/assets/baby_growth.jpg" alt="baby_growth">
  <br>
  <br>
  <h4>Begin tracking all of your baby's "firsts" as they grow and be able to look back at all of their milestones from their first steps, first tooth, first word... the list never ends!</h4>
<br>
<br>

