<h1><center>baby steps</center></h1>
<br>
  <img src="/assets/baby_growth.jpg" alt="baby_growth">
  <br>
  <br>
  <h4>Life can get really busy especially with a little one running around! Never forget about your baby's "firsts" as they grow and track all of their important milestones using Baby Steps. You'll always be able to look back on their timeline and remember their birth day, their first tooth, first steps, first word, and everything in between. Start saving your memories now!</h4>
<br>
<br>

