<h1><center><img src="/assets/footprints.jpg" width="50" height="50">  baby steps  <img src="/assets/footprints.jpg" width="50" height="50"></h1>
<br>
<img src="/assets/baby_growth.jpg" alt="baby_growth">
<br><br>
<h4>Welcome to Baby Steps! Begin tracking all of your baby's "firsts" as they grow and be able to look back at all of their milestones from their first steps, first tooth, first word... the list never ends! <a href="/signup"> Sign up </a> or <a href="/login">login </a> now!</h4>
<br>
<br>
<br>
<br>

