<h1>Welcome to Baby Steps!</h1>

<p>Baby Steps is an app where you can track and share your baby's milestones from the day they were born until you decide to stop tracking. <a href="/signup"> Sign up </a> or <a href="/login">login </a> now!</p>

