// Place all the styles related to the Milestones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
  height: 220px;
  width: 220px;
}

.polaroid {
  position: relative;
  width: 500px;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 20px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}